body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.cor {
    width: 200px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#cor1 {
    background-color:
    background-color:#000000,
}
#cor2 {
    background-color:#000000;
}
#cor3 {
    background-color: #696969;
}
#cor4 {
    background-color: #696969;
}
#cor5 {
    background-color: #DCDCDC;
}
#cor6 {
    background-color: #1a0a36;
}
#cor7 {
    background-color: #91307c;
}
#cor8 {
    background-color: #4117b4;
}
#cor9 {
    background-color: #ff00bf;
}
#cor10 {
    background-color: #e40f61;
}
#cor11 {
    background-color: #441df5;
}
#cor12 {
    background-color: #071313;
}
#cor13 {
    background-color: #2e0731;
}
#cor14 {
    background-color: #118888;
}
#cor15 {
    background-color: #072e2e;
}
#cor16 {
    background-color: #8c9b9b;
}
#cor17 {
    background-color: #323b3b;
}
#cor18 {
    background-color: #140827;
}
#cor19 {
    background-color: #3e3d99;
}
#cor20 {
    background-color: #5c598d;
}
